.fondo-principal
        height: 100vh
        width: 100vw
        position: fixed

div
    position: relative
    &h2
        z-index: 1
    &h3    

.w-container
    width: 70%
    height: 100vh
    left: 30%
    position: relative
    background-color: #00000069